{% extends "base/base.html" %}

{% block title %}Map{% endblock %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <h1>Map</h1>
    <form id="upload-form" action="{% url 'upload_csv' %}" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <input type="file" id="file-input" name="file" accept=".csv">
        <button type="submit" class="btn btn-primary">Upload CSV</button>
    </form>
    <div id="map"></div>
</div>
{% endblock %}

{% block extra_scripts %}
<script>
    var map = L.map('map').setView([-23.5505, -46.6333], 5);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    document.getElementById('upload-form').addEventListener('submit', function(e) {
        e.preventDefault();
        var formData = new FormData(document.getElementById('upload-form'));

        fetch('/api/upload-csv/', {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
                'Authorization': 'Token ' + localStorage.getItem('authToken')
            }
        }).then(response => {
            if (response.ok) {
                alert('CSV uploaded successfully');
                location.reload();
            } else {
                response.json().then(data => {
                    alert('Failed to upload CSV: ' + data.message);
                });
            }
        });
    });

    function loadCompanies(certification = '') {
        fetch(`/api/companies/?certification=${certification}`)
        .then(response => response.json())
        .then(data => {
            map.eachLayer((layer) => {
                if (layer instanceof L.Marker) {
                    map.removeLayer(layer);
                }
            });
            data.forEach(company => {
                if (company.latitude && company.longitude) {
                    L.marker([company.latitude, company.longitude]).addTo(map)
                        .bindPopup(`<b>${company.name}</b><br>${company.street}, ${company.number}<br>${company.city}, ${company.state}<br>Certifications: ${company.certifications.map(cert => cert.name).join(', ')}`);
                }
            });
        });
    }

    loadCompanies();
</script>
{% endblock %}
